nav {
    padding: 10px 50px;
    border-bottom: 1px solid #ccc
}

nav a {
    padding: 5px;
}

aside {


    padding: 20px;
    border-right: 1px solid #ccc
}

.Pdiv {
    background-color: blue;
    height: 100%;
}

.content{
    width: 100%;
    background-color: #eee;
}

.midle-section .content {
    padding: 90px 60px
}

.midle-section {
    display: flex;
    gap: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border: 1px solid #ccc;
    padding: 20px 40px
}