nav {
    padding: 10px 50px;
    border-bottom: 1px solid #ccc
}

nav a {
    padding: 5px;
}

aside {


    padding: 20px;
    border-right: 1px solid #ccc
}


.content{
    width: 100%;
    /* background-color: #eee; */
    background-color: rgba(246, 246, 244, 1);

}

.midle-section .content {
    padding: 90px 60px
}

.midle-section {
    display: flex;
    gap: 20px;
    width: 100%;
    background-color: rgba(246, 246, 244, 1);
}

footer {
    
    border: 1px solid #ccc;
    padding: 20px 40px;
    background-color: rgba(246, 246, 244, 1);

    
}